apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.3.2/manifests/ha/install.yaml

patchesStrategicMerge:
  - argocd-rbac-cm.yaml
  - github-oauth-argocd-cm.yaml
