apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

resources:
  - argo_applicationset.yaml

# Configure rbac to grant catenax-ng:ArgoCDAdmins admin rights to argoCD
patchesStrategicMerge:
  - argo-url-argocd-cm.yaml
