apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

resources:
  - environments/core.yaml
  - environments/hotel-budapest.yaml
#  - environments/example.yaml

patchesStrategicMerge:
  - configmap/argo-cm.yaml

